<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd" >
   


<bean id="employee" class="com.springXml.beans.Employee" init-method="postInitialization" destroy-method="postDestruction" scope="prototype">
<!-- <property name="id" value="1"></property>
<property name="name" value="ssm"></property>
<property name="band" value="b"></property> -->
<constructor-arg name="id" value="1"></constructor-arg>
<constructor-arg name="name" value="ssm"></constructor-arg>
<constructor-arg name="band" value="b"></constructor-arg>
<property name="address" ref="address"></property>
</bean>

<bean id="address" class="com.springXml.beans.Address" init-method="postInitialization" destroy-method="postDestruction" scope="singleton">
<constructor-arg name="state" value="goa"></constructor-arg>
<constructor-arg name="country" value="india"></constructor-arg></bean>


<bean id="WorkHistory" class="com.springXml.beans.WorkHistory" >
<property name="numberOfCompanies" value="2"></property>
<property name="lastCtc" value="100000" ></property>
<property name="previousRole" value="software engg."></property>
</bean>

</beans>